*{
    margin: 0;
   
}
html {
    font-family:  Helvetica, Arial, sans-serif;
}
#main{
    /* position: relative; */
}
#head{
    height: 105px;
    width: 100%;
    position: fixed;
    
}
.fisthead{
    display: inline-flex;
    margin: 30px 0px;
    /* padding: 0 20px; */
    width: 100%;
    /* position: fixed; */
}
#head{
    background-color: #fff;
    position: fixed;
    z-index: 1;
}
#head .logo img{
    height: 40px;
    padding: 0 20px;

}
.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    /* margin: 0 20px; */
}
.nav li{
    list-style-type: none;
}
.nav-search{
border: 2px solid rgb(182, 174, 174);
border-radius: 8px;
height: 30px;
/* margin-left: 20px; */
width: 400px;
margin-top:5.5px ;
}
.nav-search i{
    font-size: 15px;
    padding: 7.5px 20px;
}
.nav-search {
    background-color: #f6f5fa;
}
.nav-search .searchTerm{
    background-color: #f6f5fa;
}
.nav-search i:hover{

}
.searchTerm{
  /* padding: 0; */
  /* transform: translateY(0); */
  border: none;
  height: 28px;
}
.nav-chose{
    display: flex;
    text-decoration: none;
    margin-top: 10px;

}
.nav-chose li a{
    font-size: 20px;
    text-decoration: none;
    padding: 0 15px;
    color: black;

}
.nav-account img{
    font-size: 30px;
}
#body{
    padding-top: 105px;
    /* width: 100%; */
    height: auto;
    display: flex;
}
#body .body-find{
    justify-content: left;
    width: 250px;
    padding: 30px;

    
}
.body-find img{
    font-size: 30px;
    width: 30px;
}
.mode{
    display: block;
    position: fixed;
}
.fist-mode{
    display: flex;
    padding: 10px 20px;
    background-color: rgb(232, 235, 236);
    border-radius: 20px;
}
.mode li{
    margin-top: 7px;

}
.mode li a{
    text-decoration: none;
}
.mode .function{
    display: inline-block;
}
.function li{
    padding: 10px;
    color: rgb(47, 47, 47);
}
.function li a{
    color: black;
}
.function .mode-game{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 20px;
}
.mode-game-icon{
    padding: 5px;
}
.ti-game{
    font-size: 30px;
}
.mode-game-li{
    transform: translateY(-5px);
}
.sidebar img{
    width: 206px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px #f5f3f3;
    padding-top: 30px;
}
.body-main{
    /* justify-content: right; */
    font-size: 20px;
    width: 100%;
    background-color: #f9f8fd;
    border-radius: 10px;
    padding: 30px;

}
.slider{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.slider-intro{
    height: 250px;
    width: 830px;
    display: flex;
    background-color: #7471df;
    border-radius: 15px;
}
.slider-intro .tittle{
    padding: 20px;
}
.slider li{
    list-style-type: none;
    /* padding: 30px 0px; */
    line-height: 40px;

}
.slider-intro li a{
    text-decoration: none;
    color: #fff;

}
.slider-intro .img{
 margin-left: 90px;
}
.slider-more{
    height: 250px;
    width: 343px;
    background-color: #fecfd1;
    margin-left: 20px;
    border-radius: 20px;
}
.tittle-more{
    padding: 15px;

    
}
.tittle-more li a{
    text-decoration: none;
    /* color: black;     */
}
.slider-more .img-more{
    display: flex;
    justify-content: flex-end;
    transform:translateY(-124px);

}
.slider-more .img-more img{
    border-radius: 20px;

}
.update h2{
    padding: 40px 0;
}
.table-update{
    height: 250px;
    background-color: #fff;
    width: auto;
    border-radius: 15px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px;

}
.table-update .box-button{
    position: absolute;
    right: 0px;
    top: 0px;
}
.update-element{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: auto;
}
.update-logo img{
    width: 60px;
}
.update-tittle-name a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}
.update-tittle-name-more{
    color: rgb(135, 135, 135);
    font-size: 14px;
}
    /* .button{
        background-color: #fff;
        color: blue;
        border-radius: 4px;
        border: 2px solid blue;
    } */
.button {
    background-color: #fff;
    color: blue;
    padding:  7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid blue;
    font-weight: bold;
    border-radius: 12px;
}
.box-button .more h6{
    font-size: 12px;
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(115, 114, 114);
    /* font-weight: normal; */

}
.macOS{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    /* background-color: antiquewhite; */
}
.pupular-macOS{

}
.pupular-macOS-tittle{
   display: flex;
   justify-content: space-between;

}
.pupular-macOS-tittle .tittle{
    padding: 40px 0;
    
}
.pupular-macOS-tittle .tittle a{
    color: black;
    text-decoration: none;
}
.pupular-macOS-tittle .showall{
    justify-content: space-around;
    padding: 40px 0;

}
.pupular-macOS-tittle .showall a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
.pupular-macOS-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product{
    height: 270px;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 30px;
}
.product-left{
    margin-right: 15px;
    

}
.product-right{
    margin-left: 15px;
    /* background-color: aquamarine; */
}
.head-app{
    background-color: rgb(206, 220, 223);
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;

}
.head-app .logo{
    right: 0;
}
.head-app .logo img{
    width: 65px;
}
.propose{
    padding: 15px;
}
.propose a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;

}
.propose h6{
    color: rgb(135, 135, 135);
    font-size: 14px;
}
.detailAll{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.detailAll .detail {
    color: black;
    font-size: 13px;
    display: flex;
    padding: 5px 0;
}
.detailAll .detail-right{
    justify-content: right;

}
.detailAll .detail-left{
    justify-content: left;
}
.detailAll .detail h6{
    color: rgb(135, 135, 135);
    font-size: 13px;
    /* padding-right: 10px; */
    font-weight: normal;
}
.training{
    margin-left: 30px;  

}
.training-tittle{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.training-tittle .showall a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
.training-main{
    background-color: #ffec87;
    width: 100%;
    height: 270px;
    /* margin: 0 30px;   */
    border-radius: 15px;


}
.training-main .tittle{
    padding-left: 30px;
    padding-top: 50px;
}
.training-main .tittle li a{
    text-decoration: none;
    list-style-type: none;
}
.training-main .img{
    display: flex;
    justify-content: flex-end;
    transform: translateY(-75px);
    right: 0;
    bottom: 0;
}
.training-main .img img{
    width: 300px;
}
.appdesign{
    margin-left: 30px;
}
.app .logo img{
    width: 65px;
}
 .app{
    display: grid;
    grid-template-columns: 1fr 6fr 1.2fr;
    padding-top: 30px;
    position: relative;

}
.error-tittle{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}
.error-tittle .showall a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
.error-how{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin:0 -15px; 

}
.err{
    padding: 15px;
}
.err img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
.err-propose{
    margin: 0 -15px;
    padding-top: 15px;
}
.newgame-tittle{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.newgame-tittle .showall a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
.newgame-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 600px; */
    height: 447.45px;
    padding: 0 15px;
}
.newgame-banner{
    width: 100%;
    margin-left: -15px;
    
    
}
.newgame-banner li a{
    text-decoration: none;
    color: #fff;
    list-style-type: none;

}
.newgame-banner .tittle{
    /* transform: translateY(-260px); */
    margin-top: -260px;
    padding: 20px;
}
.newgame-banner img{
    width: 100%;
    border-radius: 10px;
    height: 100%;

}
.down-more{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.update-element{
    position: relative;

}
.box-button{
    position: absolute;
    right: 30px;
    top: 30px;
}
.box-button1{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.button1{
    color: rgb(135, 135, 135);
    border: none;
    border-radius: 10px;
}
.button2{
    padding: 7px 25px;
}
.more1{
    padding-left: 16px;
}
.newgame-more{
    height: 436.2px;
}
.newgame-more-game{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    margin-right: -30px;
    transform: translateX(15px);
    border-radius: 10px;
    display: block;
    height: 436.2px;
    /* padding-bottom: -50px; */
}
.newgame-more-more{
    display: grid;
    position: relative;

    grid-template-columns: 2fr 4fr 1fr;
    padding-right: 15px;
    height: 145.4px;
}
.newgame-more-more .box-button{
    transform: translateY(60px);
}
.newgame-more-more img{
    height: 130.4px;
    width: 160px;
    border-radius: 10px;

}
.button-name{
    display: inline-block;
    padding-left: 10px;
}
.newgame-more-more .more{
    padding: 10px;
}
.button-name a{
    text-decoration: none;
}
.button-more{
    padding: 15px;
}
.newgame-more-more1{
    padding-bottom: 5px;
}
.newgame-more-more2{
    padding: 2.5px 0;
}
.newgame-more-more3{
    padding-top:5px ;
}
.err h6{
    display: inline;
}
.nav-chose li a:hover{
    color: blue;
}
.function li a:hover{
    color: blue;

}
.ti-game:hover{
    color: blue;

}
.mode-game:hover{
    color: blue;
    background-color: aliceblue;
    /* border: 1px solid ;
     */
     border-radius: 15px;
     box-shadow: 3px 3px 3px 3px #c5c5c5;
}
.button:hover{
    color: #fff;
    background-color: #4445ab;
}
.update-tittle-name a:hover{
    color: #4445ab;
}
.propose a:hover{
    color: #4445ab;
}
.button-name a:hover{
    color: #4445ab;
}
.table-update .box-button{
    transform: translateX(-30px);
}
